<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Things3Utils.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0021C6CD2C86CCB80064D9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0021C6E02C86CCB90064D9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0021C6EA2C86CCB90064D9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
